.contents
  .side-bar
    .user-info
      %p ユーザーネーム
    .group-info
      %p グループネーム
      %p 最新コメント
  .main-contents
    .current-group
      %p サンプルグループ
      %p Member: watanabe
    .posted-message
      %p ユーザーネーム  2017/01/01 08:00:00
      %p コメント
    .post-message
      %p post a message
