// color
$white: #FFFFFF;
$light-gray: #999999;
$blue: #38AEF0;
$comment_color: #434A54;
$dark-navy: #253141;
$light-navy: #2f3e51;

$side_blue_dark: #253141;
$side_blue_light: #2f3e51;
$light_blue: #38AEF0;
$light_gray: #999;
$black: #434a54;
$alert_orange: #F35500;

$right-width: calc(100vw - 380px);
$side-width: 300px;
